@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 36 51% 56%;
		--primary-foreground: 36 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 355 70% 30%;
		--destructive-foreground: 353 0% 89%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 7%;
		--foreground: 210 4% 89%;

		--card: 0 0% 11%;
		--card-foreground: 0 0% 87%;

		--popover: 0 0% 11%;
		--popover-foreground: 0 0% 87%;

		--primary: 35 70% 69%;
		--primary-foreground: 0 0% 10%;

		--secondary: 0 0% 11%;
		--secondary-foreground: 0 0% 87%;

		--muted: 0 0% 10%;
		--muted-foreground: 0 0% 63%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 355 70% 30%;
		--destructive-foreground: 353 0% 89%;

		--border: 0 0% 14%;
		--input: 0 0% 22%;
		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply h-full overflow-auto scroll-smooth selection:bg-primary/75 selection:text-primary-foreground;
	}
	body {
		@apply flex min-h-full flex-col bg-background font-body text-foreground;
	}
}

@layer components {
	.grid-container {
		@apply grid gap-x-4 md:gap-x-8;
		grid-template-columns:
			[full-start] 1fr [wrapper-start]
			minmax(0, 75rem) [wrapper-end] 1fr [full-end];
	}

	.grid-container > * {
		@apply col-start-[wrapper] col-end-[wrapper];
	}

	.grid-container > .fill-container {
		@apply col-start-[full] col-end-[full];
	}

	.layout-grid {
		@apply grid grid-cols-4 gap-x-2 md:grid-cols-12 md:gap-x-2.5 xl:gap-x-8;
	}
}
